.yellow {
  color: $yellow-color;
}

.red {
  color: $red-color;
}

.green {
  color: $green-color;
}

.strike {
  text-decoration: line-through;
}

.centering {
  text-align: center;
}

.left-just {
  text-align: left;
}

.right-just {
  text-align: right;
}

pre.clear {
  &.code-wrapper {
    border: 0;
    box-shadow: none;
  }

  code {
    background: none;
  }
}

code.nonu {
  td.hljs-ln-line.hljs-ln-numbers {
    display: none;
  }
}

.alpha25 {
  opacity: 75%;
}

.alpha50 {
  opacity: 50%;
}

.alpha75 {
  opacity: 75%;
}

.vmiddle {
  vertical-align: middle;
}
