.s5 {
  font-size: 5%;
  line-height: initial;
}

.s10 {
  font-size: 10%;
  line-height: initial;
}

.s15 {
  font-size: 15%;
  line-height: initial;
}

.s20 {
  font-size: 20%;
  line-height: initial;
}

.s25 {
  font-size: 25%;
  line-height: initial;
}

.s30 {
  font-size: 30%;
  line-height: initial;
}

.s35 {
  font-size: 35%;
  line-height: initial;
}

.s40 {
  font-size: 40%;
  line-height: initial;
}

.s45 {
  font-size: 45%;
  line-height: initial;
}

.s50 {
  font-size: 50%;
  line-height: initial;
}

.s55 {
  font-size: 55%;
  line-height: initial;
}

.s60 {
  font-size: 60%;
  line-height: initial;
}

.s65 {
  font-size: 65%;
  line-height: initial;
}

.s70 {
  font-size: 70%;
  line-height: initial;
}

.s75 {
  font-size: 75%;
  line-height: initial;
}

.s80 {
  font-size: 80%;
  line-height: initial;
}

.s85 {
  font-size: 85%;
  line-height: initial;
}

.s90 {
  font-size: 90%;
  line-height: initial;
}

.s95 {
  font-size: 95%;
  line-height: initial;
}

.s100 {
  font-size: 100%;
  line-height: initial;
}

.s110 {
  font-size: 110%;
  line-height: initial;
}

.s120 {
  font-size: 120%;
  line-height: initial;
}

.s130 {
  font-size: 130%;
  line-height: initial;
}

.s140 {
  font-size: 140%;
  line-height: initial;
}

.s150 {
  font-size: 150%;
  line-height: initial;
}

.s160 {
  font-size: 160%;
  line-height: initial;
}

.s170 {
  font-size: 170%;
  line-height: initial;
}

.s180 {
  font-size: 180%;
  line-height: initial;
}

.s190 {
  font-size: 190%;
  line-height: initial;
}

.s200 {
  font-size: 200%;
  line-height: initial;
}

.w5 {
  width: 15%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w40 {
  width: 40%;
}

.w45 {
  width: 45%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

.f5 {
  .fragment {
    width: 5%;
  }
}

.f10 {
  .fragment {
    width: 10%;
  }
}

.f15 {
  .fragment {
    width: 15%;
  }
}

.f20 {
  .fragment {
    width: 20%;
  }
}

.f25 {
  .fragment {
    width: 25%;
  }
}

.f30 {
  .fragment {
    width: 30%;
  }
}

.f35 {
  .fragment {
    width: 35%;
  }
}

.f40 {
  .fragment {
    width: 40%;
  }
}

.f45 {
  .fragment {
    width: 45%;
  }
}

.f50 {
  .fragment {
    width: 50%;
  }
}

.f55 {
  .fragment {
    width: 55%;
  }
}

.f60 {
  .fragment {
    width: 60%;
  }
}

.f65 {
  .fragment {
    width: 65%;
  }
}

.f70 {
  .fragment {
    width: 70%;
  }
}

.f75 {
  .fragment {
    width: 75%;
  }
}

.f80 {
  .fragment {
    width: 80%;
  }
}

.f85 {
  .fragment {
    width: 85%;
  }
}

.f90 {
  .fragment {
    width: 90%;
  }
}

.f95 {
  .fragment {
    width: 95%;
  }
}

.f100 {
  .fragment {
    width: 100%;
  }
}

img {
  &.w5 {
    width: 0.05 * $total-width;
  }
  &.w10 {
    width: 0.1 * $total-width;
  }
  &.w15 {
    width: 0.15 * $total-width;
  }
  &.w20 {
    width: 0.2 * $total-width;
  }
  &.w25 {
    width: 0.25 * $total-width;
  }
  &.w30 {
    width: 0.3 * $total-width;
  }
  &.w35 {
    width: 0.35 * $total-width;
  }
  &.w40 {
    width: 0.4 * $total-width;
  }
  &.w45 {
    width: 0.45 * $total-width;
  }
  &.w50 {
    width: 0.5 * $total-width;
  }
  &.w55 {
    width: 0.55 * $total-width;
  }
  &.w60 {
    width: 0.6 * $total-width;
  }
  &.w65 {
    width: 0.65 * $total-width;
  }
  &.w70 {
    width: 0.7 * $total-width;
  }
  &.w75 {
    width: 0.75 * $total-width;
  }
  &.w80 {
    width: 0.8 * $total-width;
  }
  &.w85 {
    width: 0.85 * $total-width;
  }
  &.w90 {
    width: 0.9 * $total-width;
  }
  &.w95 {
    width: 0.95 * $total-width;
  }
}
